body, div, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, serif;
}

/* links */
a, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #008fff;
}

a.dimmed_link, a.dimmed_link:visited {
    color: #777;
}

a.visible_link, a.visible_link:visited {
    color: #008fff;
}

a.hidden_link, a.hidden_link:visited {
    color: #fff;
}

a.hidden_link:hover {
    color: #008fff;
}

a.form_button:visited, a.form_button:hover {
    color: #fff;
}

/* page */

#page_container {
    min-width: 800px;
    width: 80%;
    max-width: 1200px;
    margin: 40px auto 0 auto;
}

header {
    float: left;
    width: 25%;
    color: #777;
    font-size: 14px;
}

#content {
    float: right;
    width: 75%;
}

#inner_header, #inner_content {
    padding: 0 20px;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 36px;
    font-family: Verdana, sans-serif;
}

ul.menu_list {
    padding: 0;
    list-style-type: none;
}

article.grid_element {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
}

.flush {
    clear: both;
}

.articles_container {
    margin-top: 10px;
}

.code {
    margin: 5px 0;
    padding: 10px 5px;
    border: 1px solid #777;
    background-color: #eee;
    font-family: Monaco, monospace;
}

/* form */
.field_block {
    padding: 10px 0;
}

.form_label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

.form_button {
    padding: 10px;
    border: 1px solid #008fff;
    background-color: #008fff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.inline_button {
    margin-left: 5px;
}

.input_container {
    margin-left: 10px;
}

input, textarea {
    border: 1px solid #aaa;
    font-size: 20px;
}

select, option {
    font-size: 20px;
}

.text_input {
    padding: 10px;
}

textarea {
    margin: 0;
    padding: 0;
}

.form_message {
    color: #f00;
}

.inline_input_container {
    font-size: 20px;
}
