{% extends "home.html" %}

{% block page_head %}
<title>{{ article.title }}</title>
{% endblock %}

{% block page_content %}
<article>
  <h2>{{ article.title}}</h2>
  <div class="article_metadata">
    <time datetime="{{ article.date_posted }}" pubdate>{{ article.readable_date }}</time>
    <div class="article_category">{{ article.category }}</div>
  </div>
  <div class="article_content_wrapper">
    <p class="article_content">
    {{ article.content|safe }}
    </p>
  </div>
</article>
{% endblock %}

