{% extends "home.html" %}

{% block extra_title %}New article{% endblock %}
{% block page_head %}
<script src="/static/article_edition.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block page_content %}
{% if editing %}
<h2>Edit article</h2>
{% else %}
<h2>New article</h2>
{% endif %}
<form action="" method="post" accept-charset="utf-8">
  <div class="field_block">
    <label for="title" class="form_label">Title</label>
    <div class="input_container">
      <input type="text" name="title" class="text_input" value="{{ article.title }}">  
    </div>
  </div>
  <div class="field_block">
    <label for="content" class="form_label">Content</label>
    <div class="input_container">
      <textarea rows="15" cols="50" name="content" class="text_input">{{ article.content }}</textarea>
    </div>
  </div>
  <div class="field_block">
    <label for="category" class="form_label">Category</label>
    <div id="category_input_container" class="input_container">
      <select id="category_input" name="category">
        {% for category in categories %}
        {% if category == article.category %}
        <option value="{{ category }}" selected>{{ category }}</option>
        {% else %}
        <option value="{{ category }}">{{ category }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <a href="#" id="new_category_button" class="obvious_link interface_button">+</a>
    </div>
  </div>
  <div class="field_block">
    <div class="input_container">
      <input type="submit" value="Save" class="form_button">
      {% if editing %}
      <a id="delete_button" href="#" class="form_button">Delete</a>
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}

