{% extends "home.html" %}

{% block extra_title %}Categories{% endblock %}
{% block page_head %}
{% if logged_in %}
<script src="/static/category_edition.js" type="text/javascript" charset="utf-8"></script>
{% endif %}
{% endblock %}

{% block page_content %}
<div id="categories_list">
  {% for category in categories %}
  <div class="category_container">
    <div class="category_title">
      {% if logged_in %}
      <h2 id="{{ category }}">
        <a href="{{ url_for('view_category', category_name=category) }}">Category <span class="category_name">{{ category }}</span></a> <a href="#" title="Edit category name" class="hidden_link category_edition">edit</a> {% if not categories[category] %}<a href="#" title="Delete category" class="hidden_link category_deletion">delete</a>{% endif %}
      </h2>
      {% else %}
      <h2><a href="{{ url_for('view_category', category_name=category) }}">Category {{ category }}</a></h2>
      {% endif %}
    </div>
    <div class="articles_container">
      {% for article in categories[category] %}
      <div class="grid_element">
        <article class="article_excerpt grid_element">
          {% if logged_in %}
          <h3><a href="{{ url_for('view_article', article_slug=article.slug) }}">{{ article.title}}</a> <a href="{{ url_for('edit_article', article_slug=article.slug) }}" class="hidden_link">edit</a></h3>
          {% else %}
          <h3><a href="{{ url_for('view_article', article_slug=article.slug) }}">{{ article.title}}</a></h3>
          {% endif %}
          <div class="article_metadata">
            <time datetime="{{ article.date_posted }}" pubdate>{{ article.readable_date }}</time>
          </div>
          <div class="article_content_wrapper">
            {{ article.content|safe }} ... <a href="{{ url_for('view_article', article_slug=article.slug) }}" class="visible_link">[Read more]</a>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="flush"></div>
  {% endfor %}
</div>
{% endblock %}

