{% extends "home.html" %}

{% block extra_title %}Categories{% endblock %}
{% block page_head %}{% endblock %}

{% block page_content %}
<div class="categories_list">
  {% for category in categories %}
  <div class="category_container">
    <h2><a href="{{ url_for('view_category', category_name=category) }}">Category {{ category }}</a></h2>
    <div class="articles_container">
      {% for article in categories[category] %}
      <article class="article_excerpt grid_element">
        <h3><a href="{{ url_for('view_article', article_id=article.id) }}">{{ article.title}}</a></h3>
        <div class="article_metadata">
          <time datetime="{{ article.date_posted }}" pubdate>{{ article.readable_date }}</time>
        </div>
        <div class="article_content_wrapper">
          {{ article.content|safe }}...<a href="{{ url_for('view_article', article_id=article.id) }}" class="visible_link">[Read more]</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

