<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/static/master.css" type="text/css" media="screen" charset="utf-8">
<title>{% block extra_title %}Home{% endblock %} || Vicould's blog</title>
{% block page_head %}{% endblock %}
</head>
<body>
<div id="page_container">
  <header>
    <div id="inner_header">
      <h1><a href="{{ url_for('list_articles') }}" class="visible_link">Vicould</a></h1>
      <div id="menu">
        <ul class="menu_list">
          <li><a href="{{ url_for('list_categories') }}" class="dimmed_link">Categories</a></li>
          {% if logged_in %}
          <li><a href="{{ url_for('add_article') }}" class="dimmed_link">Add a new article</a></li>
          <li><a href="{{ url_for('add_category') }}" class="dimmed_link">Add a new category</a></li>
          <li><a href="{{ url_for('logout') }}" class="dimmed_link">Log out</a></li>
          {% endif %}
        </ul>
      </div>
      <div id="about"></div>
    </div>
  </header>
  <div id="content">
    <div id="inner_content">
      <div id="message_holder"></div>
      {% block page_content %}
      <div class="articles">
        {% for article in articles %}
        <div class="grid_element">
          <article class="article_excerpt grid_element"> 
            {% if logged_in %}
            <h2><a href="{{ url_for('view_article', article_id=article.id) }}">{{ article.title}}</a> <a href="{{ url_for('edit_article', article_id=article.id) }}" class="hidden_link">edit</a></h2>
            {% else %}
            <h2><a href="{{ url_for('view_article', article_id=article.id) }}">{{ article.title}}</a></h2>
            {% endif %}
            <div class="article_metadata">
              <time datetime="{{ article.date_posted }}" pubdate>{{ article.readable_date }}</time>
              <span class="article_category"><a href="{{ url_for('view_category', category_name=article.category) }}">{{ article.category }}</a></span>
            </div>
            <div class="article_content_wrapper">
              {{ article.content|safe }} ... <a href="{{ url_for('view_article', article_id=article.id) }}" class="visible_link">[Read more]</a>
            </div>
          </article>
        </div>
        {{ loop.cycle('', '<div class="flush"></div>')|safe  }}
        {% endfor %}
      </div>
      {% endblock %}
    </div>
  </div>
  <footer>
  </footer>
</div>
</body>
</html>

