<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/static/master.css" type="text/css" media="screen" charset="utf-8">
{% block page_head %}
<title>Vicould's blog</title>
{% endblock %}
</head>
<body>
<h1><a href="/">Vicould</a></h1>
<header>
  <div id="menu">
    <ul>
      <li>Home</li>
      <li>Categories</li>
    </ul>
  </div>
</header>
<div id="page_content">
  {% block page_content %}
  {% for article in articles  %}
  <article>
    <h2>{{ article.title}}</h2>
    <div class="article_metadata">
      <time datetime="{{ article.date_posted }}" pubdate>{{ article.readable_date }}</time>
      <div class="article_category">{{ article.category }}</div>
    </div>
    <div class="article_content_wrapper">
      <p class="article_content">
      {{ article.content|safe }}
      </p>
    </div>
  </article>
  {% endfor %}
  {% endblock %}
</div>
<footer>
</footer>
</body>
</html>

